# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment
.env
.venv
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/raw/*.csv
data/raw/*.zip
*.csv
*.zip

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
